.container {
  margin: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border-bottom: 1px solid #ddd;

  width: 10%;
}
th {
  text-align: left;
  background-color: rgb(21, 53, 63);
  padding: 25px 15px;

  color: white;
  font-size: 14px;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
}

/***************  INPUT *************/

.input-search {
  float: left;
  width: 100%;
  border: 1px solid silver;
  padding: 5px;
  width: 60%;

  height: 40px;
  border-radius: 5px;
  outline: none;
  color: #ddd;
}

.input-search:focus {
  color: #000000;
}
.input-label {
  padding-bottom: 10px;
}
.select {
  padding: 14px;
}
.input-select {
  padding: 6px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.pagination {
  text-align: right;
  padding: 15px;
}
.pager {
  padding: 3px 5px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.pager:hover {
  background: #ddd;
}
