.dashboard-at-glance {
  width: 100%;
  padding: 15px;
  background: rgb(233, 231, 231);
  border-radius: 4px;
}

.dashboard-at-glance p {
  font-size: 13px;
  color: rgb(13, 93, 146);
}

.dashboard-at-glance h1 {
  font-size: 35px;
  color: rgb(121, 123, 124);
  padding: 5px;
}

.dashboard-at-glance .is-increased {
  color: rgb(13, 146, 42);
}

.dashboard-at-glance .is-decreased {
  color: rgb(243, 12, 4);
}

/******************** Google table CSS  ***********************/
th,
td {
  padding: 12px;
  text-align: left;
  font-size: 14px;
}

.chart-data {
  width: 100%;
  background-color: white;
  border: 1px solid rgb(226, 226, 226);
}

.chart-data h3 {
  font-size: 16px;
  color: rgb(13, 93, 146);
  border-bottom: 2px solid rgb(226, 226, 226);
  font-weight: bold;
  margin: 15px;
  padding: 0 0 8px 0;
}
.users-country {
  border: 1px solid rgb(226, 226, 226);
  background-color: white;
}

.users-country h3 {
  font-size: 16px;
  color: rgb(13, 93, 146);
  border-bottom: 2px solid rgb(226, 226, 226);
  margin: 15px;
  font-weight: bold;
  padding: 0 0 8px 0;
}

.top-countries h3 {
  font-size: 16px;
  color: rgb(13, 93, 146);
  border-bottom: 2px solid rgb(226, 226, 226);
  font-weight: bold;
  margin: 0;
  padding: 0 0 8px 0;
}
/* .countries-map {
  border-right: 2px solid rgb(226, 226, 226);
  width: 100%;
} */
