.dashboard-at-glance {
  width: 100%;
  padding: 15px;
  background: rgb(233, 231, 231);
  border-radius: 4px;
}

.dashboard-at-glance p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: rgb(13, 93, 146);
}

.dashboard-at-glance h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: rgb(121, 123, 124);
  padding: 5px;
}

.dashboard-at-glance .is-increased {
  color: rgb(13, 146, 42);
}

.dashboard-at-glance .is-decreased {
  color: rgb(243, 12, 4);
}

/******************** Google table CSS  ***********************/
th,
td {
  padding: 12px;
  text-align: left;
  font-size: 14px;
}

.chart-data {
  width: 100%;
  padding: 10px;
  box-shadow: 0px 0px 10px 0px #aaa;
}
