.login-form {
  width: 30%;
  margin: 50px auto;
}
.login-form h2 {
  text-align: center;
}

.login-form input {
  width: 98.8%;
  margin: 5px 0px;
  padding: 5px 0px;
}

.login-form button {
  width: 100%;
  margin: 5px 0px;
  padding: 5px 0px;
}

.login-form label {
  color: red;
}

.login-footer {
  margin: 5px auto;
  font-size: 12px;
  text-align: center;
}

.register-success-message p {
  font-size: 13px;
  color: rgb(34, 149, 226);
}
